/* Global CSS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400|Space+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
  /* Define Colors as Colors */
  --green: #00ebc7;
  --red: #bc360a;
  --yellow: #fde24f;
  --black: #000000;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --white: #ffffff;
  --darkGrey: #222;
  /* Define Colors Inentions */
  --primary: var(--green);
  --danger: var(--red);
  --background: var(--black);
  --textColor: var(--lightGrey);
  /* Type */
  --headingFont: 'Space Mono', monospace;
  --bodyFont: 'Work Sans', sans-serif;
  --baseFontSize: 100%;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;
  /* Eleveation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --level-5: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
} /*18px*/

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--background);
  color: var(--textColor);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
